
# Flutter & Dart
.dart_tool/
.packages
.pub/
build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/ServiceDefinitions.json
android/.gradle/
android/captures/
*.iml
*.lock
*.log
.idea/
.vscode/
*.flutter-plugins
*.flutter-plugins-dependencies
.macos/
.flutter-plugins
.flutter-plugins-dependencies
*.generated.*
Generated.xcconfig
.DS_Store

# Misc
*.tmp
*.swp
*.swo
*.zip
